<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">自定义菜单</h1>
    </div>
</div>
<div id="wechat_menu_container" class="row">
    <div class="col-lg-12">
        <div class="wechat_menu_container_box cell_layout">
            <div class="wechat_menu_container_bd">
                <div class="inner_side">
                    <div class="bg">
                        <div class="menu_manage">
                            <div class="wechat_menu_title_bar">
                                <h4>菜单管理
                                    <div class="opers">
                                        <span class="glyphicon glyphicon-sort pull-right" title="排序">&nbsp;</span>
                                        <span class="glyphicon glyphicon-plus pull-right" title="添加">&nbsp;</span>
                                    </div>
                                </h4>
                                <!--<button ng-click="create()" class="btn btn-success">-->
                                <!--<i class="glyphicon glyphicon-share-alt"></i> 完成-->
                                <!--</button>-->
                                <!--<button ng-click="create()" class="btn btn-success">-->
                                <!--<i class="glyphicon glyphicon-share-alt"></i> 取消-->
                                <!--</button>-->
                            </div>
                            <div id="menuList" class="wechat_menu_list">
                                <ul class="wechat_menu_level1">
                                    <li>
                                        <a href="javascript:void(0);" onclick="alert(3);">用户管理
                                            <div class="wechat_menu_opers">
                                                <span class="glyphicon glyphicon-trash pull-right" title="删除" onclick="alert(4);event.stopPropagation();">&nbsp;</span>
                                                <span class="glyphicon glyphicon-pencil pull-right" title="修改">&nbsp;</span>
                                                <span class="glyphicon glyphicon-plus pull-right" title="添加">&nbsp;</span>
                                            </div>
                                        </a>
                                        <ul class="wechat_menu_level2">
                                            <li onclick="alert(2);">
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right" onclick="alert(1);event.stopPropagation();">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right" onclick="alert(1);event.stopPropagation();">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">用户管理
                                            <div class="wechat_menu_opers">
                                                <span class="glyphicon glyphicon-trash pull-right" title="删除">&nbsp;</span>
                                                <span class="glyphicon glyphicon-pencil pull-right" title="修改">&nbsp;</span>
                                                <span class="glyphicon glyphicon-plus pull-right" title="添加">&nbsp;</span>
                                            </div>
                                        </a>
                                        <ul class="wechat_menu_level2">
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">用户管理
                                            <div class="wechat_menu_opers">
                                                <span class="glyphicon glyphicon-trash pull-right" title="删除">&nbsp;</span>
                                                <span class="glyphicon glyphicon-pencil pull-right" title="修改">&nbsp;</span>
                                                <span class="glyphicon glyphicon-plus pull-right" title="添加">&nbsp;</span>
                                            </div>
                                        </a>
                                        <ul class="wechat_menu_level2">
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">用户管理</a>
                                                <div class="wechat_sub_menu_opers">
                                                    <span class="glyphicon glyphicon-trash pull-right">&nbsp;</span>
                                                    <span class="glyphicon glyphicon-pencil pull-right">&nbsp;</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner_main">
                    <div class="bg">
                        <div class="action_setting">
                            <div class="wechat_menu_title_bar light">
                                <h4>设置动作</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="btn-toolbar" style="margin-top: 0;">
    <div class="btn-group" style="text-align: center;">
        <button ng-click="create()" class="btn btn-success">
            <i class="glyphicon glyphicon-share-alt"></i> 发布
        </button>
    </div>
</div>
<br>